.main {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr;
}

.baseComponent {
  border-radius: 2rem;
  border: 1px white solid;
  padding: 2rem;
}
.sidebar {
  background-color: red;
}

.dashboard {
  background-color: white;
}

.social {
  background-color: green;
}
